body{
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
    user-select: 'none';
    width: 100%;
}
*::-webkit-scrollbar {
    display: none;
  }


  @media (max-width: 670px) {
    body{
       overflow: hidden;
    }
   }